body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}






.close-btn {
  position: absolute;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 32;
  height: 32;
  top: 49px;
  left: 18px;
}
.close-btn :hover {
  opacity: 50%;  
}
.notif2 {
    position: absolute;
    top: 54px;
    right: 16px;
}



.header {
    position: fixed;
    background-color: white;
    top: 0px;

}
.namebar {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name {
    color: rgba(51, 51, 51, 1);
    text-decoration: none;
    width: 68.85347747802734;
    height: 14.631109237670898;
    font-size: 30px;
    font-weight: 550;
    margin-left: 20px;
    transform: scale(1, 0.7);
}
.notif {
    width: 24px;
    height: 24px;
    border-radius: 100px;
    border: none;
    background-color: rgb(212, 212, 212);
    color: none;
    background: none;
    margin-right: 10px;
    cursor: pointer;
    margin-right: 20px;
}
.notif1:hover {
    opacity: 50%;
}
.filter {
    margin-top: 30px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    gap: 10px;
    width: 100vw;
    height: 80px;
}
.f1 {
    background: rgba(242, 150, 143, 1);
    border: none;
    border-radius: 100px;
    color: white;
    display: flex;
    width: 105px;
    height: 52px;
    justify-content: center;
    margin-left: 20px;
    flex: 0 0 auto;
}
.ff1 {
    margin: auto;
}
.pp1 {
    margin: auto;
    margin-right: 15px;
    font-size: 16px;
}
.f2 {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    color: rgba(156, 156, 156, 1);
    display: flex;
    width: 157px;
    height: 52px;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid rgba(158, 158, 158, 1);
    flex: 0 0 auto;
}
.ff2 {
    margin: auto;
}
.pp2 {
    margin: auto;
    margin-right: 15px;
    font-size: 16px;
}
.f3 {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    color: rgba(156, 156, 156, 1);
    display: flex;
    width: 125px;
    height: 52px;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid rgba(158, 158, 158, 1);
    flex: 0 0 auto;
}
.ff3 {
    margin: auto;
}
.pp3 {
    margin: auto;
    margin-right: 15px;
    font-size: 16px;
}
.f4 {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    color: rgba(156, 156, 156, 1);
    display: flex;
    width: 132px;
    height: 52px;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid rgba(158, 158, 158, 1);
    flex: 0 0 auto;
}
.ff4 {
    margin: auto;
}
.pp4 {
    margin: auto;
    margin-right: 15px;
    font-size: 16px;
}
.f5 {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 100px;
    color: rgba(156, 156, 156, 1);
    display: flex;
    width: 142px;
    height: 52px;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid rgba(158, 158, 158, 1);
    flex: 0 0 auto;
    margin-right: 15px;
}
.ff5 {
    margin: auto;
}
.pp5 {
    margin: auto;
    margin-right: 15px;
    font-size: 16px;
}
.filter::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* отключает скролл страницы */
}
.temki {
    display: grid;
    grid-template-columns: 1fr 1fr; /* две колонки */
    overflow-y: auto;
    height: 750px;
    margin-bottom: 110px;
    margin-top: 166px;
    height: calc(100vh - 221px); /* 166px header + 55px footer */
    padding-bottom: 70px;
}
.temki::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.tema1 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 20px;
    padding: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.t1 {
    width: 160px;
    height: 114px;
}
.tt1 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt1 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema2 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 10px;
    padding: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.t2 {
    width: 160px;
    height: 114px;
}
.tt2 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt2 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema3 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 20px;
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.t3 {
    width: 160px;
    height: 114px;
}
.tt3 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt3 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema4 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 10px;
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.t4 {
    width: 160px;
    height: 114px;
}
.tt4 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt4 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema5 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 20px;
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.t5 {
    width: 160px;
    height: 114px;
}
.tt5 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt5 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema6 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 10px;
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.t6 {
    width: 160px;
    height: 114px;
}
.tt6 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt6 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema7 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 20px;
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.t7 {
    width: 160px;
    height: 114px;
    border-radius: 16px;
}
.tt7 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt7 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.tema8 {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 16px 0px rgba(0, 1, 29, 0.06);
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 190px;
    margin-left: 10px;
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.t8 {
    width: 160px;
    height: 114px;
    border-radius: 16px;
    object-fit: cover;
}
.tt8 {
    font-weight: 700;
    font-size: 15px;
    color: rgba(51, 51, 51, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.ttt8 {
    font-weight: 500;
    font-size: 12px;
    color: rgba(141, 141, 141, 1);
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
.home {
    margin: auto;
}
.home :hover {
    opacity: 50%;
}
.fav {
    margin: auto;
}
.fav :hover {
    opacity: 50%;
}
.chats {
    margin: auto;
}
.chats :hover {
    opacity: 50%;
}
.profile {
    margin: auto;
}
.profile :hover {
    opacity: 50%;
}



